.git
.github
.vscode
.idea

node_modules
**/node_modules

.next
**/.next

dist
**/dist

coverage
**/coverage
*.tsbuildinfo
**/*.tsbuildinfo

pnpm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.*
!.env.example
!apps/**/.env.example

docker-compose*.override.yml
